<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style>
        form{
            border: 2px solid black;
            text-transform: capitalize;
            width: max-content;
            padding: 20px;
            margin-top: 20px;
            margin-left: 500px;
            border-radius: 20px;
        }
        form h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include("nav") %> <br><br>
    <form action="/user/create" method="post" id="form">
        <h1>signup</h1><br>
        <input type="text" name="username" placeholder="username" id="username"><br><br>
        <input type="text" name="password" placeholder="password" id="password"><br><br>
        <input type="email" name="email" placeholder="email" id="email"><br><br>
        <input type="submit">
    </form>
</body>
</html>